body{
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
}

.container {
  width: 800px;
}

.title {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "Arial";
}

.block{
  background-color: #EAF3F9;
  border-radius: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-bottom: 5px;
  min-height: 80px;
}

.block .title{
  background-color: #3B5998;
  color:  #F7F7F7;
  padding-top: 3px;
  padding-left: 15px;
  padding-bottom: 3px;
  font-size: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 37px;
  display: flex;
  align-items: center;
}

.input-groups{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-group{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: none;
}

.input-group-title{
  margin-right: 10px;
}


@media screen and (max-width:800px) {
  .container {
    width: 100%;
    background-color: pink;
  }
}